<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.converterapp2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.converterapp2.provider.READ_URI_DB"
        android:protectionLevel="normal" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConverterApp2">
        <receiver android:name=".MyNumberWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_number_widget_info" />
        </receiver>

        <activity android:name=".WidgetActivity" />

        <receiver android:name=".MyMessage">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_message_info" />
        </receiver>

        <activity android:name=".PreLoad" />
        <activity android:name=".SqLiteMain" />
        <activity android:name=".RoomDatabase" />
        <activity android:name=".ExternalTextFile" />

        <service
            android:name=".MyMPService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".InternalSave" />
        <activity android:name=".ContactDetails" />

        <receiver
            android:name=".MyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".FileTypeDetail"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NotificationActivity" />

        <receiver android:name=".NotificationReceiver" />
        <receiver
            android:name=".ConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyAirplaneReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ConvertFile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FileList"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowFileType"
            android:parentActivityName=".FileType" />
        <activity
            android:name=".FileType"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResizePic"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ConvertLink"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name=".provider.myContentProvider"
            android:authorities="com.example.converterapp2.provider.provider.myContentProvider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.example.converterapp2.provider.READ_URI_DB" />

        <service
            android:name=".ConvertService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".YoutubeConvertMp3"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>